**/node_modules
**/.env
**/build
**/venv
**/__pycache__
**/*.log
**/firebaseServiceAccount.json
**/.DS_Store
# VS Code - ignore everything except extensions.json
.vscode/*
!.vscode/extensions.json
**/*.cache
**/*.egg-info
switch_github.sh
CLAUDE.md