name: Pytest CI

on:
  push:
    branches:
      - main
    paths:
      - "backend/python/**"
  pull_request:
    branches:
      - main
    paths:
      - "backend/python/**"

concurrency:
  group: pytest-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: postgres
          POSTGRES_DB: f4k_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: backend/python/requirements.txt
      
      - name: Install dependencies
        working-directory: ./backend/python
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
      
      - name: Run tests
        working-directory: ./backend/python
        env:
          PYTHONPATH: ${{ github.workspace }}/backend/python
          APP_ENV: testing
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB_DEV: f4k
          POSTGRES_DB_TEST: f4k_test
          DB_HOST: localhost
          TEST_DATABASE_URL: "postgresql+asyncpg://postgres:password@127.0.0.1:5432/f4k_test"
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
        run: |
          pytest -q --disable-warnings -ra

